<div class="container">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav class="sidenav-bar" #sidenav mode="side"
      [(opened)]="sidenavOpened">
      <app-navbar></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="top-section">
        <div class="left-side">
        </div>
        <div class="center">
          <div class="header">
            Boredom Butler
            <img class="resized-image" src="assets/boredomButler.png" />
          </div>
        </div>
        <div class="right-side"></div>
      </div>
      <div class="line"></div>
      <div class="bottom-section">
        <div class="left-side"></div>
        <div class="center">
          <app-results></app-results>
        </div>
        <div class="right-side"></div>
        <router-outlet />
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
