@import '../../styles.scss';

.remark-blue{
    color:$bright-blue;
}
.remark{
    //color:$vivid-pink;
    color: $orange-red;
    font-size:1.6rem;
    margin-top: 10px;
    margin-bottom: 5%;
}
.line{
    background:$red-to-pink-to-purple-horizontal-gradient;
    height:2px;
    margin:20px 0px;
    border: none;
}
.suggestion-list{
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    max-width: 550px;
    border-radius: 15px;
    overflow: hidden;
    //box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    margin-left:15%;

    li{
        background: $dark-gray;
        padding: 15px 20px;
        margin-bottom: 5px;
        color: $vivid-pink;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        border-bottom: 1px solid $darker-gray;
        border-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease;
    }
    li:before {
        content: '✨'; /* Add a playful emoji */
        font-size: 1.5rem;
        animation: blink 2s linear infinite;
        color: $vivid-pink;
    }
}
/* Emoji Animation */
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes blink {
    0%, 100% {
      opacity: 1; /* Fully visible */
      transform: scale(1); /* Original size */
    }
    50% {
      opacity: 0.5; /* Semi-transparent */
      transform: scale(1.3); /* Slightly larger for a glowing effect */
    }
  }
  .text-container{
    display: flex;
    align-items: center;
    //justify-content: center;
    overflow: visible;
    gap: 10px;
    .large-text{
      font-size: 1.5rem;
      background: $red-to-pink-to-purple-horizontal-gradient;
      background-clip: text;
      -webkit-background-clip: text; /* Clip the background to the text */
      -webkit-text-fill-color: transparent; /* Make the text fill transparent */
      margin-top: 20px;
    }
    .large-arrow{
      font-size: 123px;
      height: 124px;
      width: 150px;
      display: inline-block;
      line-height: 1; /* Ensure no extra spacing */
      font-weight: bold;
      //line-height: 1;
      color:$orange-red;
      position: relative;
      left:-62px;
    }

  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .load-spinner{
    height:500px !important;
  }